<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Para agregar seguridad estándar: Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;-->
    <add name="Capacitacion2024crecabarren" connectionString="Server=192.168.1.212\aigdev,1433;Database=Capacitacion2024crecabarren;User Id=crecabarren;Password=crecabarren!;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
